.container__big-card {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 659px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.big-card__title > h1 > a {
    margin: 10px;
    font-size: 20px;
    color: white;
    
}

.big-card__description > p > a{
    color: gray;
    margin-top: 10px;
}

.big-card__photo > img {
    width: 100%;
    min-width: 400px;
}