

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__nain">

        <!--pode ser multiplicado-->
        <app-big-card 
            id="1"
            photoCover="http://localhost:4200/assets/angular.jpeg" 
            cardTitle="Angular 15"
            cardDescription="Estou usando Angular 15">
        </app-big-card>

    </div>
    
    <div class="articles__others">
        <!--so modificar os parametros-->
        <app-small-card 
            id="2"
            photoCover="http://localhost:4200/assets/series.jpeg"
            cardTitle="Serie antiga O Tunel do Tempo"
        >
        </app-small-card> 
        <!--so modificar os parametros-->
        <app-small-card 
        id="3"
        photoCover="http://localhost:4200/assets/arquivox.jpeg"
        cardTitle="Serie Arquuivo x a melhor serie"
        >
        </app-small-card> 
        <!--so modificar os parametros-->
        <app-small-card 
        id="4"
        photoCover="http://localhost:4200/assets/ultraman.jpg"
        cardTitle="Serie antiga inesquecivel Ultraman Jack"
        >
        </app-small-card> 

    </div>
</div>